@{
    ViewData["Title"] = "Asteroids";
}
@model NASAapp.Models.Asteroid

<h1>@ViewData["Title"]</h1>


@Model.Id
<br />
@Model.Name
<br />
@Model.EstimatedDiameterMin
<br />
@Model.EstimatedDiameterMax
<br />
@Model.Hazardous
<br />
@Model.ApproachDate
<br />
@Model.RelativeVelocity
<br />
@Model.MissDistance
