@{
    ViewData["Title"] = "History";
}
@model IEnumerable<NASAapp.Models.History>

<h1 class="display-4">History</h1>
<h5>@Model.FirstOrDefault().Name</h5>
<br />
<table class="table table-hover">
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Relative velocity
        </th>
        <th>
            Miss distance
        </th>
        <th>
            Orbiting body
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelativeVelocity) km/s
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissDistance) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrbitingBody) 
            </td>     
        </tr>
    }

</table>