@{
    ViewData["Title"] = "Mars Weather";
}
@model IEnumerable<NASAapp.Models.Sole>

<h1 class="display-4">Mars Weather</h1>
<h5>Weather data transmitted by the Curiosity Rover from Mars</h5>

<div id="weatherContainer">
    <div id="mainWeather">
        <h3>
            Latest Weather<br />
            at Gale Crater
        </h3>
        <p>Curiosity is taking daily weather measurements at Gale Crater in the southern hemisphere of Mars, near the equator.</p>

        <div id="mainSolDate">
            <p><span>Sol @Model.First().Sol</span><br />@Model.First().Date</p>
        </div>
        <div id="mainSolWeather">
            <p><span>High: @Model.First().MaxTemp &deg;C</span><br />Low: @Model.First().MinTemp &deg;C</p>
        </div>
    </div>

    <div id="fiveDaysContainer">
        @foreach (var item in Model.Skip(1))
        {
            <div class="dayContainer">
                <p><span>Sol @Html.DisplayFor(modelItem => item.Sol)</span><br />@Html.DisplayFor(modelItem => item.Date)</p>
                <hr>
                <p>High: @Html.DisplayFor(modelItem => item.MinTemp) &deg;C<br />Low: @Html.DisplayFor(modelItem => item.MaxTemp) &deg;C</p>
            </div>
        }
    </div>
</div>
<small class="text-muted" id="jpl">Courtesy NASA/JPL-Caltech.</small>

<form id="solForm" class="form-group" method="get" action="/Home/MarsWeather">
    <label class="col-form-label">Type sol to show weather this day</label>
    <input class="form-control" type="number" name="sol" min="1" max="@ViewBag.latestSol">
    <small class="form-text text-muted">Sol must be between 1 and @ViewBag.latestSol.</small>
    <input class="btn btn-secondary" type="submit" value="Show">
</form>

<div class="scrollDiv">
    <table class="table table-hover" id="weatherTable">
        <tr>
            <th>
                Sol
            </th>
            <th>
                Date
            </th>
            <th>
                High
            </th>
            <th>
                Low
            </th>
            <th>
                Pressure
            </th>
            <th>
                Sun rise
            </th>
            <th>
                Sun set
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTemp) &deg;C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinTemp) &deg;C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressure) Pa
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sunrise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sunset)
                </td>
            </tr>
        }
    </table>
</div>
